.btn{
	background-color: $mainBlue;
	color: #fff;	
	text-decoration: none;
	padding: 0.8rem 1.2rem;
	display: inline-block;

	&--orange{
		background-color: $mainOrange;
	}
	&--large{
		padding: 1.1rem 1.9rem;
		@mixin atSmall{
			font-size: 1.25rem;
		}
	}

}