.page-section{
	padding: 1.2rem 0;
	&--blue{
		background-color: $mainBlue;
		color: #fff;
	}
	@mixin atMedium{
		padding: 4.5rem 0;
	}
	&--testimonials{
		background-color: #e0e6ef;
		@mixin atLarge{
			&.lazyloaded{
				background: url("assets/images/testimonials-bg.jpg") top center no-repeat;
				background-size: cover;
			}
		}
	}
	&--no-bottom-padding-until-medium{
		padding-bottom: 0;
		@mixin atMedium{
			padding-bottom: 4.5rem;
		}
	}
	&--no-bottom-padding-until-large{
		padding-bottom: 0;
		@mixin atLarge{
			padding-bottom: 4.5rem;
		}
	}
}