.section-title{
	font-weight: 300;
	text-align: center;
	font-size: 2.55rem;
	strong{
		font-weight: 500;
	}
	&--blue{
		color: $mainBlue;
	}
	&--less-margin{
		margin-top: 0;
		margin-bottom: 1.3rem;
	}
	&__icon{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .6rem;
		display: block;
		@mixin atSmall{
			position: relative;
			top: 8px;
			margin-right: .5rem;
			margin-left: auto;
			margin-bottom: 0;
			display: inline-block;
		}
	}
	@mixin atSmall{
		font-size: 3.75rem;
	}
}