.site-header{
	position: absolute;
	z-index: 2;
	width: 100%;
	padding: 10px 0;
	transition: background-color .3s ease-out;
	&--isVisible{
		background-color: rgba($mainBlue, 55%);	
	}

	@mixin atMedium{
		background-color: rgba($mainBlue,30%);
		position: fixed;
		&--dark{
			background-color: rgba(23,51,72,85%);
		}
	}
	&__btn-container{
		@mixin atMedium{
			float: right;
		}
	}
	&__logo{
		position: absolute;
		padding: 25px 36px;
		top: 0;
		background-color: $mainBlue;
		left: 50%;
		transform: translateX(-50%) scale(.8);
		transform-origin: 50% 0%;
		transition: transform .3s ease-out;
		@mixin atMedium{
			left: auto;
			transform: translateX(0);
			.site-header--dark &{
				transform: scale(.56);
			}
		}
	}

	&__logo__graphic{
		text-indent: -999px;
	}

	&__menu-icon{
		z-index: 10;
		width: 20px;
		height: 19px;
		position: absolute;
		top: 10px; 
		right: 10px;
		&::before{
			content: "";
			transform-origin: 0 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transition: transform  0.3s ease-out;
		}
		&__middle{
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 50%;
			transition: all  0.3s ease-out;
		}
		&::after{
			content: "";
			transform-origin: 0 100%;
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transition: transform  0.3s ease-out;
		}
		@mixin atMedium{
			display: none;
		}
	}

	&__menu-icon--close-x{
		&::before{
			transform: rotate(45deg) scaleX(1.25); 
		}
		.site-header__menu-icon__middle{
			opacity: 0;
			transform: scaleX(0);
		}
		&::after{
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}
	&__menu-content{
		opacity: 0;
		z-index: -99999;
		transform: scale(1.2);
		position: relative;
		padding-top: 90px;
		text-align: center;
		transition: all .3s ease-out;
		@mixin atMedium{
			opacity: 1;
			z-index: 1;
			padding-top: 0;
			transform: scale(1);
		}
		&--isVisible{
			opacity: 1;
			z-index: 1;
			transform: scale(1);
		}
	}
}