.site-footer{
	background-color: $mainBlue;
	color: #fff;
	padding: .5rem;
	text-align: center;
	&__text{
		margin-bottom: 1rem;
		display: block;	
		font-weight: 200;
		@mixin atMedium{
			margin-bottom: 0;
			display: inline;
			margin-right: 1.4rem;
		}
	}
}