.social-icons{
    text-align: center;
    &__icon{
        position: relative;
        background-color: $mainOrange;
        display: inline-block;
        margin: 0 5px 5px 5px;
        width: 33%;
        height: 72px;
        .icon{
            display: block;
            position: absolute;
            transform: translate(-50%, -50%);
            margin: 0 5px 0px 0px;
            top: 50%;
            left: 50%;
        }
        @mixin atSmall{
            width: 72px;
            height: 72px;
        }
    }
}