.wrapper{
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	&--medium{
		max-width: 976px;
	}
	&--narrow{
		max-width: 470px;
	}
	.wrapper{
		padding-left: 0;
		padding-right: 0;
	}
	&--b-margin{
		margin-bottom: 1rem;
		@mixin atSmall{
			margin-bottom: 3.875rem;
		}
		
	}
	&--no-padding-until-medium{
		padding-left: 0;
		padding-right: 0;
		@mixin atMedium{
			padding-left: 18px;
			padding-right: 18px;
		}
	}
	&--no-padding-until-large{
		padding-left: 0;
		padding-right: 0;
		@mixin atLarge{
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}
